<h1>Confirm Post</h1>
<%= form_with model: @post, url: confirmed_path, method: confirmed_method, local: true do |f| %>
  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title, readonly: true %>
  </div>
  <div class='field'>
    <%= f.label :image %>
    <%= image_tag @post.image.url if @post.image.present? %>
    <%= f.hidden_field :image_cache, value: @post.image.cache_name %>
  </div>
  <div class='actions'>
    <%= f.submit 'Submit' %>
    <%= f.submit 'Back' %>
  </div>
<% end %>
